{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %}

<div class="container">
    <div class="page-header">
      <h1>ProjectX <small>because of poor imagination</small></h1>
    </div>
    <h3>Motivation <small> why do we even try?</small></h3>
    <p>Here goes some true story about motivation and stuff</p>

    <h3>License</h3>
    <p>Here some license gonna appear soon</p>

    <h3>Feel free to contribute <small>because we are awesome</small></h3>
    <p>Feel free to check our repo on <a href="https://github.com/konsolerr/projectx">GitHub</a></p>
</div>


{% endblock %}