{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}
Let's call it main
{% endblock  %}

{% block css_extra %}
<link href='{% static "css/custom.css" %}' rel="stylesheet">
<link href='{% static "css/code_highlight/default.css" %}' rel="stylesheet">
{% endblock %}

{% block js_extra %}
<script src="{% static "js/highlight.pack.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container" ng-controller="DatasetController">
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-stacked col-md-3" role="tablist">
    <li role="presentation" ng-repeat="data in datas">
        <a href="#{[data.key]}" aria-controls="{[data.key]}" role="tab"
         data-toggle="tab" ng-click="changeActive($index)">
        {[data.dataset.name[0]]} - {[ data.key ]}
        </a>
    </li>
    <li role="presentation" class="active"><a href="#new_dataset" aria-controls="home" role="tab" data-toggle="tab">Add New</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content col-md-9">
    <div ng-repeat="data in datas" role="tabpanel" class="tab-pane" id="{[data.key]}">
        <div ng-bind-html="data.html"></div>
        <br>
        <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#code-{[data.key]}"
         aria-expanded="false" aria-controls="code-{[data.key]}">
          Show the code
        </button>
        <div class="collapse" id="code-{[data.key]}">
          <pre><code class="r">{[data.code[0]]}</code></pre>
        </div>
        <br>
        <br>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="current_selected_method" class="col-sm-3 control-label">Choose action</label>
                <div class="col-sm-9">
                <select class="form-control" id="current_selected_method" ng-model="current_selected_method"
                 ng-options="method_name as v.description for (method_name, v) in data.methods">
                </select>
                </div>
            </div>
            <div class="form-group" ng-repeat="(k, v) in data.methods[current_selected_method].args">
                <label for="current_selected_method" class="col-sm-3 control-label">{[v.description[0]]}</label>

                <div class="col-sm-9" ng-if="v.type[0] == 'select' ">
                <select class="form-control" ng-model="v.default[0]" id="{[data.key]}-{[k]}"
                 ng-options="name for name in v.choices">
                </select>
                </div>

                <div class="col-sm-9" ng-if="v.type[0] == 'integer' ">
                <input type="number" class="form-control" value="{[v.default[0]]}" id="{[data.key]}-{[k]}">
                </div>

                <div class="col-sm-9" ng-if="v.type[0] == 'file' ">
                <input type="file" class="form-control" id="{[data.key]}-{[k]}">
                </div>

                <div class="col-sm-9" ng-if="v.type[0] == 'boolean'">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="v.default[0]" id="{[data.key]}-{[k]}">
                        </label>
                      </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                <button class="btn btn-primary pull-right"
                ng-click="submit_action(data, current_selected_method)">Perform action</button>
                </div>
            </div>

        </form>
        <hr>

        <div ng-repeat="result in data.results">
            <div ng-bind-html="result.html"></div>
            <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#code-{[result.key]}"
             aria-expanded="false" aria-controls="code-{[result.key]}">
              Show the code
            </button>
            <div class="collapse" id="code-{[result.key]}">
              <pre><code class="r">{[result.code[0]]}</code></pre>
            </div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane active" id="new_dataset">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="current_dataset" class="col-sm-3 control-label">Choose dataset</label>
                <div class="col-sm-9">
                <select class="form-control" id="current_dataset" ng-model="current_dataset_creation"
                 ng-options="datasets[opt] as datasets[opt].name[0] for opt in allowed_datasets">
                </select>
                </div>
            </div>
            <div class="form-group" ng-repeat="(k, v) in current_dataset_creation.real_constructor.args">
                <label for="current_dataset" class="col-sm-3 control-label">{[v.description[0]]}</label>
                <div class="col-sm-9">
                <input class="form-control" type="{[v.type[0]]}" id="{[k]}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                <button class="btn btn-primary pull-right" ng-click="create_dataset()">Create dataset</button>
                </div>
            </div>

        </form>
    </div>
  </div>

</div>
{#    <div class="container-fluid">#}
{#      <div class="row-fluid">#}
{#        <div class="col-md-12">#}
{#            <h2 style="padding-left:16px">Many inputs test</h2>#}
{#            <div class="input-group">#}
{#                <select class="form-control" #}
{#                    ng-model="current_dataset_creation" #}
{#                    ng-options="v.name[0] for (k, v) in datasets">#}
{#                </select>#}
{#                <span class="input-group-btn">#}
{#                    <button type="button" class="btn btn-primary" ng-click="create_dataset()">Add new dataset</button>#}
{#                </span>#}
{#            </div>#}
{#            <form class="form-horizontal" name="creation_form">#}
{#                <input class="form-control" ng-repeat="(k, v) in current_dataset_creation.real_constructor.args"#}
{#                    name="{[v.name[0]]}"#}
{#                    type="{[getType(v.type[0])]}"#}
{#                    placeholder="{[v.description[0]]}" id="{[v.name[0]]}">#}
{#            </form>#}
{#            <hr>#}
{#            <div class="well" ng-repeat="data in datas">#}
{#                <p ng-bind-html="data.html"></p>#}
{#                <form class="form-horizontal" ng-repeat="(name, method) in data.dataset.real_methods" name="{[name]}">#}
{#                    <input class="form-control" ng-repeat="(k, v) in method.args"#}
{#                        name="{[v.name[0]]}"#}
{#                        type="{[getType(v.type[0])]}"#}
{#                        placeholder="{[v.description[0]]}" id="{[v.name[0]]}">#}
{#                    <button class="btn btn-default" ng-click="submit(name, $index)">{[name]}</button>#}
{#                </form>#}
{#                <div ng-repeat="result in data.results" ng-bind-html="result.html"></div>#}
{#            </div>#}
{#<!--#}
{#          <form class="well" ng-repeat="dataset in datasets">#}
{#                <p ng-bind-html="dataset.html"></p>#}
{#                <button type="button" class="btn btn-sm btn-primary"#}
{#                        ng-click="createCutDataset($index)"#}
{#                        ng-disabled="dataset.toCutStart > dataset.toCutEnd">#}
{#                    Cut new dataset#}
{#                </button>#}
{#                <div class="form-group col-md-2"><input type="number" class="form-control" ng-model="dataset.toCutStart"#}
{#                                                        min="1"></div>#}
{#                <div class="form-group col-md-2"><input type="number" class="form-control" ng-model="dataset.toCutEnd"#}
{#                                                        min="1"></div>#}
{#                <hr>#}
{#                <div id="functions">#}
{#                  <div class="row">#}
{#                      <div class="col-md-8">#}
{#                       <div class="input-groups">#}
{#                           <div class="row" ng-repeat="input in dataset.inputs">#}
{#                                <div class="row no-margin-row" id="ig" style="margin-left: 0px">#}
{#                                    <div class="form-group col-md-2">#}
{#                                        <button class="btn btn-default remove-btn" type="button"#}
{#                                                ng-click="removeInput($parent.$index, $index)">Remove</button>#}
{#                                    </div>#}
{#                                    <div class="form-group col-md-4">#}
{#                                        <select class="form-control"#}
{#                                                ng-model="input.fun"#}
{#                                                ng-options="fun[3] for fun in vectorFunctions"#}
{#                                                ng-change="input.args={}; calculate($parent.$index, $index)">#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <div ng-repeat="arg in input.fun[4]" class="form-group col-md-2">#}
{#                                        <input type="text" placeholder="{[arg]}" class="form-control" ng-model="input.args[arg]"#}
{#                                                ng-change="calculate($parent.$parent.$index, $parent.$index)">#}
{#                                    </div>#}
{#                                </div>#}
{#                           </div>#}
{#                       </div>#}
{#                   </div>#}
{#                    <div class="col-md-4">#}
{#                        <div id="results">#}
{#                            <div class="row" ng-repeat="result in dataset.results">#}
{#                                <div ng-bind-html="result.result.html"></div>#}
{#                           </div>#}
{#                        </div>#}
{#                    </div>#}
{#                  </div>#}
{#                   #}
{#                    <button type="button" class="btn btn-primary" ng-click="addInput($index)">Add</button>#}
{#              </div>#}
{#          </form>#}
{#-->#}
{#        </div>#}
{#<!--#}
{#        <div class="col-md-6">#}
{#          <div id="rest"></div>#}
{#        </div>#}
{#-->#}
{#      </div>#}
{#</div>#}
</div>
{% endblock %}