{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}
Let's call it main
{% endblock  %}

{% block css_extra %}
<link href='{% static "css/custom.css" %}' rel="stylesheet">
<link href='{% static "css/code_highlight/default.css" %}' rel="stylesheet">
{% endblock %}

{% block js_extra %}
<script src="{% static "js/highlight.pack.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container" ng-controller="DatasetController">
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-stacked col-md-3" role="tablist">
    <li role="presentation" ng-repeat="data in datas">
        <a href="#{[data.key]}" aria-controls="{[data.key]}" role="tab"
         data-toggle="tab" ng-click="changeActive($index)">
        {[data.name[0]]}
        </a>
    </li>
    <li role="presentation" class="active"><a href="#new_dataset" aria-controls="home" role="tab" data-toggle="tab">Add New</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content col-md-9">
    <div ng-repeat="data in datas" role="tabpanel" class="tab-pane" id="{[data.key]}">
        <div ng-bind-html="data.html"></div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#code-{[data.key]}"
                 aria-expanded="false" aria-controls="code-{[data.key]}">
                  Show the code
                </button>
                <div ng-repeat="file in data.file_names">
                    Download <a href="{[ '/projectx/download/' + data.key + '/' + file]}">{[file]}</a>
                </div>
            </div>
        </div>
        <div class="collapse" id="code-{[data.key]}">
          <pre><code class="r">{[data.code[0]]}</code></pre>
        </div>
        <br>
        <br>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="current_selected_method" class="col-sm-3 control-label">Choose action</label>
                <div class="col-sm-9">
                <select class="form-control" id="current_selected_method" ng-model="current_selected_method"
                 ng-options="method_name as v.description for (method_name, v) in data.methods">
                </select>
                </div>
            </div>
            <div class="form-group" ng-repeat="(k, v) in data.methods[current_selected_method].args">
                <label for="current_selected_method" class="col-sm-3 control-label">{[v.description[0]]}</label>

                <div class="col-sm-9" ng-if="v.type[0] == 'select' ">
                <select class="form-control" ng-model="v.default[0]" id="{[data.key]}-{[k]}"
                 ng-options="name for name in v.choices">
                </select>
                </div>

                <div class="col-sm-9" ng-if="v.type[0] == 'integer' ">
                <input type="number" class="form-control" value="{[v.default[0]]}" id="{[data.key]}-{[k]}">
                </div>

                <div class="col-sm-9" ng-if="v.type[0] == 'file' ">
                <input type="file" class="form-control" id="{[data.key]}-{[k]}">
                </div>

                <div class="col-sm-9" ng-if="v.type[0] == 'character' ">
                <input type="text" class="form-control" id="{[data.key]}-{[k]}">
                </div>

                <div class="col-sm-9" ng-if="v.type[0] == 'boolean'">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="v.default[0]" id="{[data.key]}-{[k]}">
                        </label>
                      </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                <button class="btn btn-primary pull-right"
                ng-click="submit_action(data, current_selected_method)">Perform action</button>
                </div>
            </div>

        </form>
        <hr>

        <div ng-repeat="result in data.results">
            <div ng-bind-html="result.html"></div>
            <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#code-{[result.key]}"
             aria-expanded="false" aria-controls="code-{[result.key]}" ng-click="highlight_code()">
              Show the code
            </button>
            <div class="collapse" id="code-{[result.key]}">
              <pre><code class="r">{[result.code[0]]}</code></pre>
            </div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane active" id="new_dataset">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="current_dataset" class="col-sm-3 control-label">Choose dataset</label>
                <div class="col-sm-9">
                <select class="form-control" id="current_dataset" ng-model="current_dataset_creation"
                 ng-options="datasets[opt] as datasets[opt].name[0] for opt in allowed_datasets |
                 filter: constructorFilter">
                </select>
                </div>
            </div>
            <div class="form-group" ng-repeat="(k, v) in current_dataset_creation.real_constructor.args">
                <label for="current_dataset" class="col-sm-3 control-label">{[v.description[0]]}</label>
                <div class="col-sm-9">
                <input class="form-control" type="{[v.type[0]]}" id="{[k]}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                <button class="btn btn-primary pull-right" ng-click="create_dataset()">Create dataset</button>
                </div>
            </div>

        </form>
    </div>
  </div>
<div class="modal fade" id="waitModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Please wait <span class="glyphicon glyphicon-refresh spin"></span></h2>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}